@model MVCGalenos.Models.Laboratorio
@{
    ViewData["Title"] = "Subir Estudio";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Index" asp-controller="Laboratorio" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Especialidad" class="form-label"></label>
        @Html.DropDownListFor(
                 model => model.Especialidad,
                 new SelectList(Especialidad),
                 "Seleccionar Especialidad",
                 new { @class = "form-control" }
                 )
        <span asp-validation-for="Especialidad" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PrestadorMedico" class="form-label"></label>
        <input asp-for="PrestadorMedico" class="form-control" />
        <span asp-validation-for="PrestadorMedico" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ArchivoEstudio" class="form-label">Seleccionar Archivo (PDF)</label>
        <input type="file" name="archivo" class="form-control" />
        <span asp-validation-for="ArchivoEstudio" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Subir Estudio</button>
</form>

}
